a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    font-family: Roboto, sans-serif;
    
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.body-content 
{
    display: flex;
    flex-flow: row nowrap;
}

button { 
    color: #E5E7EB;
    background-color: #3882F6;
    border: 0px;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
}

.header {
    /* Color and Formatting */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;

    /* Flex formatting */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    gap: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    columns: #F9FAF8;
    margin-bottom: 0;
    padding: 0;
}

.header-body {
    /* Color and Formatting */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;


    /* Flex formatting   */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    gap: 70px; 
}

.header-body-left {
    flex-basis: 700px;
    margin: 0;
}

.car {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
    object-fit: contain;
    margin: 0;
}

img {
    width: 40%;
    object-fit: contain;
}

.logo {
    width: 70px;
    height: auto;
}

p {
    font-size: 18px;
    color: #E5E7EB; 
}

ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    list-style: none;
}