a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 200px 70px 200px;
}

.body-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.body-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;  
}

.info {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

/* Formatting for the images in the body */
.face, .bus, .park, .old {
    border-radius: 10px;
    border: 3px solid #3882F6;

}

button { 
    color: #E5E7EB;
    background-color: #3882F6;
    border: 0px;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
}

.header {
    /* Color and Formatting */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;

    /* Flex formatting */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    gap: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    columns: #F9FAF8;
    margin-bottom: 0;
    padding: 0;
}

.header-body {
    /* Color and Formatting */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;


    /* Flex formatting   */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    gap: 70px; 
}

.header-body-left {
    flex-basis: 700px;
    margin: 0;
}

/* Adding in CSS for the quote */
.bottom-quote {
    padding: 70px 200px 70px 200px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoted {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-top: 20px;
}

/* Now we are adding in style in the cta near the footer */

.bottom {
    display: flex;
    margin: 70px 150px;
    padding-bottom: 5px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #3882F6;
    color: #F9FAF8;   
}

.bottom-left {
    display: flex;
    flex-direction: column;
}

.cta-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cta-text {
    margin-top: 0px;
    padding-top: 0px;
}

.signup {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: bold;
}

/* Lastly add in formatting for the footer based on the header */

.footer {
    /* Color and Formatting */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    padding: 60px;

}
.car {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
    object-fit: contain;
    margin: 0;
}

img {
    width: 200px;
    object-fit: contain;
}

.logo {
    width: 70px;
    height: auto;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB; 
}

ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    list-style: none;
}